@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-gray-950;
}

p {
	@apply leading-relaxed;
}

* {
	user-select: none;
}

span.size-20 {
	font-size: 20px;
	font-variation-settings: "OPSZ" 20;
}

span.size-24 {
	font-size: 24px;
	font-variation-settings: "OPSZ" 24;
}

span.size-40 {
	font-size: 40px;
	font-variation-settings: "OPSZ" 40;
}

span.size-48 {
	font-size: 48px;
	font-variation-settings: "OPSZ" 48;
}

.section-container {
	@apply w-full px-1 md:px-4 py-12;
}

.section {
	@apply container max-w-screen-2xl mx-auto px-8 md:px-12;
}

@font-face {
	src: url("$lib/client/fonts/roboto-regular.woff2");
	font-family: "roboto";
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url("$lib/client/fonts/roboto-medium.woff2");
	font-family: "roboto";
	font-weight: 500;
	font-display: swap;
}

@font-face {
	src: url("$lib/client/fonts/sofia-pro-regular.woff2");
	font-family: "sofia-pro";
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url("$lib/client/fonts/sofia-pro-bold.woff2");
	font-family: "sofia-pro";
	font-display: swap;
	font-weight: bold;
}

@font-face {
	src: url("$lib/client/fonts/sofia-pro-black.otf");
	font-family: "sofia-pro";
	font-display: swap;
	font-weight: 900;
}
